.infoBox {
    border: 2px solid black;
    padding: 15px;
    display: flex;
    width: 300px;
    flex-direction: column;

}

.topInfoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: red 2px dotted; */
}

.topInfoRight {
    /* border: red dotted 2px; */
    display: flex;
    align-items: center;
}

.bottomInfoBox {
    display: flex;
    justify-content: center;

    /* border: blue 2px dotted; */
}

.reserve {
    padding: 10px 125px
}

.dot {
    width: 20px;
}

.information {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.infoBar {
    display: flex;
    align-items: center;
}
