.reviewModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    background-color: rgb(219,125,47);
}

.reviewBox {
    border: black solid 2px;
    width: 90%;
    height: 40%;
    margin-bottom: 15px;
    background-color: rgba(224, 238, 240, 0.788);
}

.starsInput {
   display: flex;
   margin-bottom: 10px;
}

.submitReview {
    padding: 10px 100px;
    box-shadow: 5px 5px 5px rgb(0,0,0);
    margin-bottom: 15px;
}
