#spotForm {
    display: flex;
    justify-content: center;
    margin: 30px 200px;
    background-color: rgba(219,125,47);
    border: 8px solid rgb(161,15,15);
    box-shadow: 0px 0px 10px 7px rgb(249,213,0);
}

#centerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding: 20px;
}

.errors {
    color: red;
    text-shadow: 2px 2px rgb(0,0,0);
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.inputBox {
    display: flex;
    width: 432px
}
.city {
    width: 150px;
}

.state {
    width: 240px;
}
.cityState {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}
.textArea {
    width: 432px;
    height: 140px;
    border: 2px solid black;
    margin-bottom: 15px;
}

.textAWrap {
    display: flex;
    justify-content: center;
}

.spotName {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.spotPrice {
    padding-bottom: 15px;
    border-bottom: 2px black solid;
}

.moneyInput {
    width: 420px;
}

.spotImageForm {
    /* border: green 3px dotted; */
    padding-bottom: 15px;
    border-bottom: 2px solid black;

}
.spotImageForm {
    /* border: green 3px dotted; */
    padding-bottom: 15px;
    border-bottom: 2px solid black;

}
.urlInput {
    width: 432px;
}
.inputs {
    margin: 10px;
}

.submitButton {
    /* border: green solid 2px; */
    display: flex;
    justify-content: center;
    padding: 20px;
}

#subcrButton {
    background-color: rgba(161,15,15);
    /* box-shadow: 0px 0px 5px 5px rgb(249,213,0); */
    cursor: pointer;
}

.moneyLine {
    display: flex;
}
