.userSpots {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    padding: 10px;
    /* grid-row: inherit; */

}

.userSpotTile {
    margin: 10px;

}

.userSpots2 {
    /* border: green dotted 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 300px;
    background-color: rgba(219,125,47);
    border: 8px solid rgb(161,15,15);
    box-shadow: 0px 0px 10px 7px rgb(249,213,0);

}

.UDbuttons {
    display: flex;
    /* border: 2px dotted cyan; */
    justify-content: flex-end;
}

.spaceH {
    width: 10px;
}
