.previewImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.spotInfo {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    color: rgb(0,0,0);
    font-weight: bold;
}

.spotTile {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    /* object-fit: cover; */
    text-decoration: none;
}

.spotLink {
    border: rgb(161,15,15) solid 4px;
    background-color: rgb(219,125,47);
    margin: 10px;
    text-decoration: none;
}

.spotLink:hover {
    box-shadow: 0px 0px 5px 5px rgb(249,213,0);
}

.localPrice {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.price {
    text-decoration: none;
    color: black;
}

.spotList {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    padding: 20px 100px;

}

.icon {
    width: 12px;
    padding: 3px;
}

.rating {
    display: flex;
    align-items: flex-start;

}

.imageBox {
    object-fit: cover;
    border: rgb(0,0,0) 4px solid;
    height: 300px;
    padding: 0px;
}
