.previewImg {
    width: 200px;
    height: 200px
}

.spotInfo {
    display: flex;
    justify-content: space-between;
}

.spotTile {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 10px;
}

.localPrice {
    display: flex;
    flex-direction: column;
}

.spotList {
    display: flex;
    padding: 10px;
}
