.previewImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.spotInfo {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.spotTile {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    /* object-fit: cover; */
    text-decoration: none;
}

.localPrice {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.price {
    text-decoration: none;
    color: black;
}

.spotList {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    padding: 10px;

}

.icon {
    width: 12px;
    padding: 3px;
}

.rating {
    display: flex;
    align-items: flex-start;

}

.imageBox {
    object-fit: cover;
}
