#footer {
    border-top: solid rgb(161,15,15) 8px;
    box-shadow: 0px -5px 5px rgb(249,213,0);
    background-color: rgb(219,125,47);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mattlink {
    height: 50px;
    margin: 0px 40px;
}

.mattlink:hover {
    background-color: rgb(233,213,0);
    box-shadow: 0px 0px 5px 5px rgb(249,213,0);
}
