#bookWrap {
    display: flex;
    justify-content: center;
}

#currentBookings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px 200px;
    min-height: 800px;
    width: 900px;
    background-color: rgba(219,125,47);
    border: 8px solid rgb(161,15,15);
    box-shadow: 0px 0px 10px 7px rgb(249,213,0);
}
#futureBookings {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    min-height: 600px;
}
#pastBookings {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    min-height: 600px;
}

#bookingsArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 50%; */
    min-width: 900px;
}

.bookSingle {
    border: 2px black solid;
    margin: 20px 10px;
    padding: 10px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 3px rgb(249,213,0);
}
.bookSingle1 {
    border: 2px black solid;
    margin: 20px 10px;
    padding: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 3px rgb(249,213,0);
}

.bookContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookName {
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: rgb(249,213,0, .2);
    box-shadow: 0px 0px 2px 2px rgb(249,213,0);
}

.bookName:hover {
    background-color: rgb(249,213,0);
    color: black;
}

.modalBtn {
    margin: 10px;
}

#fBookingArea {
    overflow-y: scroll;
    box-shadow: 0px 0px 5px 5px rgb(249,213,0);
    border: 10px solid rgb(161,15,15);
    height: 700px;
    /* margin: 20px; */
    background-color: rgb(161,15,15);
    min-width: 350px;
}

.emptyDiv {
    padding: 20px;
}

#removeB {
    padding: 15px
}

.CurrRes:hover {
    cursor: not-allowed;
}
